In [4]:
import pandas as pd

In [5]:
models = pd.read_csv("model_results.csv")

In [6]:
models

                 Model   train_score   test_score            bows     other
0    Linear Regression      0.999190     -1.28296         split_f       NaN
1                Ridge      0.994010      0.79800         split_f       NaN
2                Lasso      0.000000     -0.00200         split_f       NaN
3  Logistic Regression      0.997380      0.98000         split_f       NaN
4  Logistic Regression      0.998324      0.98500   TweetTokenize       NaN
5                Ridge      0.992260      0.81614   TweetTokenize       NaN
6                Ridge      0.992020      0.82916   TweetTokenize   no_punc
7  Logistic Regression      0.997580      0.98500   TweetTokenize   no_punc
8  Logistic Regression      0.999000     -1.43220           TDIDF   no_punc

In [20]:
tdidf_results = pd.read_csv("results_TDIDF.csv")

In [21]:
tdidf_results
# we keep ngram(1,2) and changing min/max_df

                  Model   score train   score test         other
0   Logistic Regression         0.999      -1.2953           NaN
1   Logistic Regression         0.999      -3.1321            l2
2   Logistic Regression         0.999      -9.9972            l1
3   Logistic Regression         1.000       0.8171      ngram(2)
4   Logistic Regression         1.000       0.7590      ngram(3)
5   Logistic Regression         0.180       0.1560    min_df=0.1
6   Logistic Regression         1.000       0.8053    max_df=0.9
7   Logistic Regression         1.000       0.7988    max_df=0.6
8   Logistic Regression         1.000       0.8197   max_df=0.75
9   Logistic Regression         1.000       0.7975   max_df=0.82
10  Logistic Regression         1.000       0.7972   max_df=0.68

In [8]:
import nltk

In [18]:
from nltk.tokenize import casual_tokenize, TweetTokenizer

In [10]:
help(casual_tokenize)

Help on function casual_tokenize in module nltk.tokenize.casual:

casual_tokenize(text, preserve_case=True, reduce_len=False, strip_handles=False)
    Convenience function for wrapping the tokenizer.

In [20]:
# preserve_case -- lower/upper case preserve, False - to low case
# reduce_len -- punctuation marks len? (more than 3 times to 3 times)
help(TweetTokenizer.__init__)

Help on function __init__ in module nltk.tokenize.casual:

__init__(self, preserve_case=True, reduce_len=False, strip_handles=False)
    Initialize self.  See help(type(self)) for accurate signature.

In [ ]:
# TODO:
# TFIDF 
# PCA
# False/True rates
# Precision, Recall, f1_score
# hyperparameters